* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2c2f33;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-control {
    margin-bottom: 15px;
    position: relative;
}

.input-control input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* .input-control.success input {
    border-color: #2ecc71;
}

.input-control.error input {
    border-color: #e74c3c;
} */

/* .input-control small {
    color: #e74c3c;
    visibility: hidden; 
    display: none;
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 12px;
    padding: 5px;
}*/ 

.input-control small {
    color: #e74c3c;
    display: none;
    font-size: 12px;
    margin-top: 4px;
    padding: 2px 0;
    position: static;   
}


/* .input-control.error small {
    visibility: visible;
} */

button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultMessage{
    color: red;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}