*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    align-items: center;    /* vertically center */
    justify-content: center; /* horizontally center */
    height: 100%;
    width: 100%;
}

.box{
    background-color: aquamarine;
    height: 400px;
    width: 400px;
    border: 5px solid black;
    border-radius: 10px;
}

button{
    display: flex;
    align-items: center;    /* vertically center */
    justify-content: center;
    position: absolute;
    margin: 20px;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    top: 70%;
    bottom:30%;
    left: 40%;
    right:40%;
}

button :active{
    scale: 1.2;
}
