*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    flex-direction: column;
}

.box{
    height: 280px;
    width: 280px;
    background-color: red;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

button{
    position: absolute;
    border: black 2px solid;
    border-radius: 7px;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

button:active{
    scale: 0.92;
}