*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
}

button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    cursor: pointer;
    background-color: purple;
    border: white 2px solid;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

button:active{
    scale: 0.95;
}