*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
    
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

:root {
    --x:100px;
    --y:100px;
}

.box{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    pointer-events: none;

    background: radial-gradient(
        circle 140px at var(--x) var(--y),
        transparent 0%,
        rgba(0,0,0,0.92) 80%
    );
}