*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
}

button{
    height: 30px;
    width: 85px;
    padding: 5px 2px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    cursor: pointer;
    background-color: green;
    border: white 2px solid;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

.card{
    /* height: 250px; */
    width: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 40px 20px;
}

.card p{
    font-size:14px ;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}

.card p span{
    font-weight: bold;
    color: royalblue;
}

.outer{
    height: 15px;
    width: 100%;
    background-color: gainsboro;
    border-radius: 10px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 30px;
    font-family: monospace;
}