*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    background-color: burlywood;
    border-radius: 10px;
    position: absolute;
    
}

h2{
    margin: 150px 150px 50px 150px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
button {
    background-color: rgb(132, 247, 114);
    border:2px solid darkcyan;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    margin: 30px;
    cursor: pointer;
    /* align-items: center; */
    gap: 10px;
}



button  :active{
    scale: 0.95;
    
}