*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    flex-direction: column;
    overflow: hidden;
}

button{
    height: 30px;
    width: 85px;
    padding: 5px 2px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    cursor: pointer;
    background-color: green;
    border: white 2px solid;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

.card{
    height: 330px;
    width: 250px;
    background-color: white;
    padding: 20px;
    position: relative;
}

.card div{
    overflow: hidden;
    position: relative;
}

.card img{
    width: 100%;
    height: 240px;  
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card h2{
    font-size: 20px;
}

.card i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 70px ;
    opacity: 0;
    /* background: linear-gradient(to right bottom, rgb(158, 9, 158), rgb(185, 93, 108)); */
    transition: all 0.4s cubic-bezier(.65,1,.77,1.44);
    color:transparent ;
    background-image: url(https://img.freepik.com/premium-vector/vertical-background-with-smooth-gradient-vector-illustration_522680-306.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    /* overflow: hidden; */
    background-clip: text;
    -webkit-background-clip: text;
    transform: translate(-50% ,-50%) scale(0) rotate(-60deg);
}